.form-title {
  display: none;
}

.hs-form fieldset {
  max-width: auto !important;
  max-width: unset !important;
  margin-left: -0.75rem !important;
  margin-right: -0.75rem !important;
}

.hs-form fieldset .input {
  margin-right: 0 !important;
}

.hs-form fieldset .hs-input {
  width: 100% !important;
}

.hs-form .hs-form-field {
  margin-bottom: 1.5rem;
}

.hs-form .hs-form-field label {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.hs-form .hs-form-field:not(.hs-fieldtype-select):not(.hs-fieldtype-checkbox):not(.hs-fieldtype-radio) > label {
  line-height: 20px !important;
  margin-bottom: 6px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.hs-form .form-columns-2 .hs-form-field, .hs-form .form-columns-3 .hs-form-field {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .hs-form .form-columns-2 .hs-form-field, .hs-form .form-columns-3 .hs-form-field {
    width: 100% !important;
  }
}

.hs-form .form-columns-2 .hs-form-field > *, .hs-form .form-columns-3 .hs-form-field > * {
  width: 100%;
}

.hs-form .form-columns-2 .hs-form-field .hs-field-desc, .hs-form .form-columns-3 .hs-form-field .hs-field-desc {
  order: 1;
}

.hs-form .form-columns-2 .hs-form-field .hs-error-msgs, .hs-form .form-columns-3 .hs-form-field .hs-error-msgs {
  order: 2;
}

@media (min-width: 768px) {
  .hs-form .form-columns-3 .hs-form-field {
    width: 33.33% !important;
  }
}

.hs-form .input .inputs-list {
  display: block;
  margin-bottom: 20px;
}

.hs-form .inputs-list.multi-container li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.hs-form .hs-field-desc {
  margin-top: 0.125rem;
  margin-bottom: 0.25rem;
}

.hs-form .hs-form-checkbox .hs-form-checkbox-display {
  display: flex;
  align-items: center;
}

.hs-form .hs-form-checkbox .hs-form-checkbox-display input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.hs-form .hs-form-checkbox .hs-form-checkbox-display span {
  display: block;
}

.hs-form .input .inputs-list .hs-form-radio {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hs-form .hs-form-radio-display input + span {
  line-height: 1.45;
}

.hs-form .hs-form-booleancheckbox-display {
  display: flex;
  align-items: center;
}

.hs-form .hs-form-booleancheckbox-display .hs-input {
  display: block;
}

.hs-form .hs-form-booleancheckbox-display .hs-input + span {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.hs-form .legal-consent-container {
  margin-top: 0.5rem;
  color: #5A0A5A;
}

.hs-form .legal-consent-container > div {
  margin-bottom: 1rem;
}

.hs-form .legal-consent-container .hs-form-field {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hs-form .hs-error-msgs {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
  color: red;
}

.hs-form .hs-richtext, .hs-form .legal-consent-container {
  font-size: 0.75rem;
  line-height: 1rem;
}

.hs-form .hs-richtext {
  margin-bottom: 1rem;
}

.hs-form .hs-richtext a:hover {
  text-decoration: underline;
}

.hs-form .actions {
  margin-top: 0.25rem;
}

.hs_error_rollup {
  margin-bottom: 0.25rem;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]).invalid, select.invalid {
  border-color: red;
}

textarea {
  height: 50px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 100px;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("..");
  background-repeat: no-repeat;
  background-position: 96%;
  background-size: 14px;
  padding-right: 3rem !important;
  filter: grayscale(100);
}

select:focus {
  filter: grayscale(0);
  border-color: #A3A6B4;
  color: #5A0A5A;
}

textarea {
  display: block;
}

.header .white-logo .hs-image-widget, .header .color-logo .hs-image-widget {
  max-width: 120px;
  width: 100% !important;
}

@media (min-width: 1024px) {
  .header .white-logo .hs-image-widget, .header .color-logo .hs-image-widget {
    max-width: 170px;
  }
}

.header.white-header {
  background-color: white;
  box-shadow: 0px 5px 83px -29px rgba(0, 0, 0, 0.64);
}

.facelift-navigation-menu .hs-menu-wrapper > ul li {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.facelift-navigation-menu .hs-menu-wrapper ul li a {
  padding: 12px 16px !important;
  display: block;
  color: #3D446C;
  transition: all 0.3s ease-in-out;
}

.facelift-navigation-menu .hs-menu-wrapper ul li a:hover {
  color: #FF6600;
}

.facelift-navigation-menu .hs-menu-wrapper ul li ul li a:hover {
  background-color: rgba(230, 230, 235, 0.5);
  color: #3D446C !important;
}

.facelift-navigation-menu .hs-menu-wrapper ul li ul li a:hover {
  color: #FF6600;
}

.facelift-navigation-menu .hs-menu-wrapper > ul li ul {
  display: none;
  padding-left: 10px;
}

.facelift-navigation-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  position: static;
}

.submenu-toggle {
  width: 20px !important;
  height: 20px !important;
  position: absolute;
  right: 16px;
  top: 10px;
}

.facelift-navigation-menu .hs-menu-wrapper ul li:hover > ul {
  display: none;
}

.facelift-navigation-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  visibility: visible;
  opacity: 1;
}

.facelift-navigation-menu {
  display: none;
}

@media (min-width: 1024px) {
  .facelift-navigation-menu .hs-menu-wrapper > ul {
    display: flex;
    align-items: center;
  }

  .facelift-navigation-menu .hs-menu-wrapper > ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    margin-left: 0;
    border-radius: 10px;
    box-shadow: 0px 5px 83px -29px rgba(0, 0, 0, 0.64);
    padding-left: 0px;
  }

  .facelift-navigation-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    position: absolute;
  }

  .facelift-navigation-menu .hs-menu-wrapper > ul li ul li:not(:last-child) {
    border-bottom: 1px solid #E6E6EB;
  }

  .facelift-navigation-menu .hs-menu-wrapper ul ul ul {
    left: 100% !important;
    top: 0 !important;
  }

  .facelift-navigation-menu .hs-menu-wrapper ul li:hover > ul {
    display: block;
  }

  .submenu-toggle {
    display: none;
  }

  .facelift-navigation-menu {
    display: flex !important;
  }

  .facelift-navigation-menu ul li.hs-menu-depth-1.hs-item-has-children:after {
    content: "";
    position: absolute;
    top: 16px;
    right: 12px;
    margin-left: 4px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;
  }

  .facelift-navigation-menu ul li.hs-menu-depth-1.hs-item-has-children:hover:after {
    filter: grayscale(0);
  }

  .facelift-navigation-menu ul li.hs-menu-depth-1 {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

.facelift-navigation-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  max-width: 100% !important;
  width: 100% !important;
}

.facelift-navigation-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
  margin-bottom: 0px !important;
}

.submenu-arrow {
  position: relative;
  display: block;
}

.submenu-toggle .submenu-arrow:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-90deg);
  width: 25px;
  height: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in-out;
}

.submenu-toggle.is-open .submenu-arrow:before {
  transform: rotate(0deg);
}

input[type=text] {
  position: relative;
}

input[type=text]:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-size: 13px;
  background-image: url(https://get.facelift-bbt.com/hubfs/Developer%20Assets/user.svg);
  background-repeat: no-repeat;
}

.link-btn span:last-child {
  transition: transform 0.3s ease-in-out;
}

.link-btn:hover span:last-child {
  transform: translateX(5px);
}

.accordion-question-wrapper.is-active .accordion-question svg {
  transform: rotate(90deg);
}

.accordion-question-wrapper:not(:first-child):after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  height: 2px;
  background: #D8D9E2;
}

.accordion-question-wrapper.is-active:after {
  top: -4px;
}

.accordion-question-wrapper.is-active {
  box-shadow: 0px 3px 8px rgba(100, 106, 137, 0.3);
  border-radius: 8px;
}

.footer-link ul {
  display: flex !important;
  flex-direction: column !important;
}

.footer-link ul li a {
  padding: 10px 0px !important;
}

.footer-link ul li a:hover {
  text-decoration: underline !important;
}

.legal-content .hs-menu-wrapper ul li a {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.social-media-icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #3d446c;
}

.footer-custom-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.footer-partner-logo {
  display: block;
  width: 100%;
  max-width: 130px;
}

.legal-content .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  max-width: 100%;
}

.legal-content .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a:hover {
  text-decoration: underline;
}

.news-letter-form form {
  position: relative;
}

.news-letter-form form input[type=email], .news-letter-form form form input[type=file], .news-letter-form form form input[type=number], .news-letter-form form form input[type=password], .news-letter-form form form input[type=tel], .news-letter-form form form input[type=text], .news-letter-form form form select, .news-letter-form form form textarea {
  border-radius: 18px !important;
  padding-right: 120px !important;
}

.news-letter-form form input[type=submit],
.news-letter-form form .hs-button {
  padding: 7px 20px;
  border-radius: 0px 18px 18px 0px;
}

.news-letter-form form .actions {
  position: absolute;
  right: 0px;
  top: 23px;
}

.news-letter-form form .hs-form-field label {
  margin-top: 0px !important;
  margin-bottom: 4px !important;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.news-letter-form form .hs-error-msgs .hs-error-msg {
  font-size: 14px;
  color: #ff3333;
}

.company-logo {
  max-width: 150px;
  width: 100%;
}

.header-richtext > * {
  line-height: 28px;
}

@media (min-width: 768px) {
  .header-richtext > * {
    line-height: 36px;
  }
}

.company-logo {
  max-width: 150px;
  width: 100%;
}

.logo-max-width {
  max-width: 120px;
  width: 100%;
}

.logo-section-img:hover img {
  transform: translateY(-5px);
}

.logo-img {
  max-width: 120px;
  width: 100%;
}

.analytics-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1160px;
}

.border-top-left-100 {
  border-top-left-radius: 100px;
}

.analytics-img-cover {
  background-size: cover;
  background-position: top;
}

@media (min-width: 1280px) {
  .analytics-img-cover {
    background-size: 100% 100%;
  }
}

.logo-container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.responsive-bg-header-with-logo {
  background-size: 100% 60%;
  z-index: -1;
}

.big-img-background {
  background-size: 100% 100%;
  z-index: -1;
}

.tab-answer-wrapper .tab-img {
  display: none;
}

.tab-answer-wrapper .tab-img.active {
  display: block;
}

.tab-orange.tab-link.active {
  background: #FF6600;
  color: white;
}

.tab-orange.tab-link {
  background: #FFD9A3;
  color: #FF6600;
}

.tab-purple.tab-link.active {
  background: #E000EE;
  color: white;
}

.tab-purple.tab-link {
  background: #FBA9FF;
  color: #E000EE;
}

.tab-blue.tab-link {
  background: #fff;
  color: #38A5F8;
}

.tab-blue.tab-link.active {
  background: #38A5F8;
  color: #ffffff;
}

.success-stories-media {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.cs-tab-wrapper {
  display: none;
}

.cs-tab-wrapper.active {
  display: block;
}

.success-stories-label {
  position: relative;
  padding-left: 0.875rem;
}

.success-stories-label:before {
  content: "";
  position: absolute;
  top: 0.375rem;
  left: 0px;
  height: 1rem;
  width: 1rem;
  background-repeat: no-repeat;
  background-image: url("https://get.facelift-bbt.com/hubfs/Developer%20Assets/arrow-right.svg");
  background-size: 9px;
}

.logo-img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 90px;
}

@media (min-width: 768px) {
  .logo-img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 120px;
  }
}

.logo-upper-border {
  border-top-width: 4px;
  border-color: rgba(61, 68, 108, 0.2);
}

.company-logo-tab.active .logo-upper-border {
  border-color: #E000EE;
  pointer-events: none;
  cursor: auto;
}

.company-logo-tab .logo-upper-border {
  cursor: pointer;
}

.feature-stories-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.black-overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  max-height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.one-col-slider .slick-list {
  overflow: visible;
}

.max-h-480 {
  max-height: 480px;
  height: 100%;
}

.blogpost-header svg {
  width: 24px;
  height: 24px;
  fill: #3D446C;
}

.quotes-card-shadow {
  box-shadow: 0 10px 30px rgba(100, 106, 137, 0.3);
}

.w-1000 {
  width: 100%;
}

.right-700 {
  right: 30px;
}

.left-300 {
  left: 30px;
}

.off-canvas-left {
  right: 0;
}

.off-canvas-right {
  left: 0;
}

@media (min-width: 1024px) {
  .w-1000 {
    width: 1000px;
  }

  .right-700 {
    right: 580px;
  }

  .off-canvas-left {
    right: 60%;
  }

  .off-canvas-right {
    left: 3%;
  }
}

@media (min-width: 1281px) {
  .right-700 {
    right: 460px;
  }

  .left-300 {
    left: 0px;
  }

  .off-canvas-left {
    right: 45%;
  }
}

@media (min-width: 1536px) {
  .right-700 {
    right: 700px;
  }

  .left-300 {
    left: 300px;
  }

  .off-canvas-left {
    right: 70%;
  }

  .off-canvas-right {
    left: 25%;
  }
}

.video-tab {
  cursor: pointer;
}

.video-tab-answer {
  display: none;
}

.video-tab-answer.active {
  display: block;
}

.media-shadow {
  box-shadow: 0px 5px 30px RGBA(100, 106, 137, 0.4);
}

.theme-purple.active {
  background: #E000EE;
  color: white;
  border-radius: 12px;
}

.theme-orange.active {
  background: #FF6600;
  color: white;
  border-radius: 12px;
}

.theme-blue.active {
  background: #38A5F8;
  color: white;
  border-radius: 12px;
}

.video-tab:last-child:after {
  display: none;
}

.video-tab:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 2px;
  margin: 0 auto;
}

ul .theme-purple.video-tab:after {
  background: #FBA9FF;
}

ul .theme-orange.video-tab:after {
  background: #FFD9A3;
}

ul .theme-blue.video-tab:after {
  background: #E1FAFF;
}

.logo-header .hs-image-widget {
  max-width: 250px !important;
  width: 100% !important;
}

.bg-img-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-size: cover;
}

.inner-header-container {
  max-width: 560px;
  width: 100%;
}

.solution-marketing-header {
  box-shadow: 0px 5px 30px rgba(100, 106, 137, 0.4);
}

@media (min-width: 1280px) {
  .bg-img-cover {
    background-size: 100% 100%;
  }
}

.text-h1-shadow {
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
}

.disc-richtext ul li {
  position: relative;
  padding-left: 15px;
}

.disc-richtext ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 6px;
  height: 6px;
  background: #050A28;
  border-radius: 100%;
}

.disc-richtext ul li:not(:last-child) {
  padding-bottom: 20px;
}

.bg-pricing-header {
  background: linear-gradient(135deg, #000F55 0%, #C130AE 45.31%, #FA8B55 73.96%, #FF944D 98.44%);
}

.price-card-shadow {
  box-shadow: 0px 5px 30px rgba(100, 106, 137, 0.4);
}

.orange-link a {
  color: #FF6600;
}

.purple-link a {
  color: #9600A0;
}

.orange-link a, .purple-link a {
  padding: 0px;
}

.orange-link span:last-child, .purple-link span:last-child {
  transition: transform 0.3s ease-in-out;
}

.orange-link:hover span:last-child, .purple-link:hover span:last-child {
  transform: translateX(5px);
}

.pattern-publisher {
  position: absolute;
  top: -71px;
  right: -57px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (min-width: 768px) {
  .pattern-publisher {
    position: absolute;
    top: -123px;
    right: -170px;
    width: 100vw;
    height: 100%;
    z-index: -1;
  }
}

@media (min-width: 1024px) {
  .pattern-publisher {
    position: absolute;
    top: -123px;
    right: -170px;
    width: 60vw;
    height: 100%;
    z-index: -1;
  }
}

@media (min-width: 1281px) {
  .pattern-publisher {
    position: absolute;
    top: -171px;
    right: -216px;
    width: 57vw;
    height: 100%;
    z-index: -1;
  }
}

@media (min-width: 1536px) {
  .pattern-publisher {
    position: absolute;
    top: -254px;
    right: -245px;
    width: 57vw;
    height: 100%;
    z-index: -1;
  }
}

.foreground-img {
  position: absolute;
  top: 127px;
  right: 171px;
}

@media (min-width: 640px) {
  .foreground-img {
    position: absolute;
    top: 73px;
    right: 157px;
  }
}

@media (min-width: 2000px) {
  .foreground-img {
    position: absolute;
    top: 38%;
    right: 254px;
  }
}

.static-logo-img {
  display: block;
  max-width: 120px;
  margin: 0 auto;
  transition: filter 0.3s ease-in-out;
  filter: grayscale(1);
}

.static-logo-img:hover {
  filter: grayscale(0);
}

.video-header-form .hs-form {
  position: relative;
}

.video-header-form .hs-submit {
  position: absolute;
  top: -3px;
  right: 0px;
}

.video-header-form [type=email] {
  width: 75%;
  border-radius: 20px;
}

.video-header-form .hs-form-field label {
  display: none;
}

.video-header-form .hs-form .hs-form-field {
  margin-bottom: 0;
}

.video-header-form .hs-error-msgs li label {
  color: red;
}

@media (max-width: 767px) {
  .video-header-form .hs-submit {
    position: static;
    top: 0;
    right: 0;
  }

  .video-header-form [type=email] {
    width: 100%;
    border-radius: 20px;
  }

  .video-header-form .actions {
    margin-top: 10px;
  }
}

.blogpost-container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.blogpost-shadow {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}
