.accordion-question-wrapper{
  &.is-active{
    .accordion-question{
      svg{
        transform: rotate(90deg);
      }
    }
  }
}
.accordion-question-wrapper:not(:first-child):after{
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  height: 2px;
  background:#D8D9E2;
}
.accordion-question-wrapper.is-active:after{
  top: -4px;
}
.accordion-question-wrapper.is-active{
  box-shadow: 0px 3px 8px rgba(100, 106, 137, 0.3);
  border-radius: 8px;
}
