.footer-link {
  ul{
    display: flex !important;
    flex-direction: column !important;
    li{
      a{
          padding: 10px 0px !important;
          &:hover{
          text-decoration: underline !important;
        }
      }
    }
  }
}
.legal-content .hs-menu-wrapper ul li a{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.social-media-icon{
  svg {
    @apply w-5 h-5;
    fill: #3d446c;
  }
}
.footer-custom-icon{
  @apply w-5 h-5;
}
.footer-partner-logo{
  @apply block w-full;
  max-width: 130px;
}
.legal-content{
  .hs-menu-wrapper.hs-menu-flow-horizontal {
    > ul {
        li{
            a {
              padding-top: 10px !important;
              padding-bottom: 10px !important;
              max-width: 100%;
              &:hover{
                @apply underline;
              }
            }
        }
    }
  }
}
