.logo-container{
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.responsive-bg-header-with-logo{
  background-size: 100% 60%;
  z-index: -1;
}
.big-img-background{
  background-size: 100% 100%;
  z-index: -1;
}
