.header{
  .white-logo, .color-logo{
    .hs-image-widget{
      max-width:120px;
      width: 100% !important;
      transition: all 0.3s ease-in-out;
      @screen lg{
        max-width: 170px;
      }
    }
  }
  &.white-header{
    background-color: white;
    -webkit-box-shadow: 0px 5px 83px -29px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 5px 83px -29px rgba(0,0,0,0.64);
    box-shadow: 0px 5px 83px -29px rgba(0,0,0,0.64);
  }
}
.facelift-navigation-menu .hs-menu-wrapper > ul li{
  position: relative;
  transition: all 0.3s ease-in-out;
}
.facelift-navigation-menu .hs-menu-wrapper ul li a{
  padding: 12px 16px !important;
  display: block;
  color: #3D446C;
  transition: all 0.3s ease-in-out;
}
.facelift-navigation-menu .hs-menu-wrapper ul li a:hover{
  color: #FF6600;
}
.facelift-navigation-menu .hs-menu-wrapper ul li ul li a:hover{
  background-color: rgb(230 230 235 / 50%);
  color: #3D446C !important;
}
.facelift-navigation-menu .hs-menu-wrapper ul li ul li a:hover{
  color: #FF6600;
}
.facelift-navigation-menu .hs-menu-wrapper > ul li ul{
  display: none;
  padding-left: 10px;
}
.facelift-navigation-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper{
  position: static;
}
.submenu-toggle{
  width: 20px !important;
  height: 20px !important;
  position: absolute;
  right: 16px;
  top:10px;
}
.facelift-navigation-menu .hs-menu-wrapper ul li:hover > ul {
  display: none;
}
.facelift-navigation-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper{
  visibility: visible;
  opacity: 1;
}
.facelift-navigation-menu{
  display:none;
}
@media(min-width: 1024px){
  .facelift-navigation-menu .hs-menu-wrapper > ul{
    display: flex;
    align-items: center;
  }
  .facelift-navigation-menu .hs-menu-wrapper > ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    margin-left: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 83px -29px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 5px 83px -29px rgba(0,0,0,0.64);
    box-shadow: 0px 5px 83px -29px rgba(0,0,0,0.64);
    padding-left: 0px;
  }
  .facelift-navigation-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper{
    position: absolute;
  }
  .facelift-navigation-menu .hs-menu-wrapper > ul li ul li:not(:last-child){
    border-bottom: 1px solid #E6E6EB;
  }
  .facelift-navigation-menu .hs-menu-wrapper ul ul ul{
    left: 100% !important;
    top: 0 !important;
  }
  .facelift-navigation-menu .hs-menu-wrapper ul li:hover > ul{
    display: block;
  }
  .submenu-toggle{
    display: none;
  }
  .facelift-navigation-menu{
    display:flex !important;
  }
  .facelift-navigation-menu ul li.hs-menu-depth-1.hs-item-has-children:after{
    content: "";
    position: absolute;
    top: 16px;
    right: 12px;
    margin-left: 4px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    filter:grayscale(1);
    transition: all 0.3s ease-in-out;
  }
  .facelift-navigation-menu ul li.hs-menu-depth-1.hs-item-has-children:hover:after{
    filter:grayscale(0);
  }
  .facelift-navigation-menu ul li.hs-menu-depth-1{
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}
.facelift-navigation-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a{
  max-width: 100% !important;
  width: 100% !important;
}
.facelift-navigation-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul{
  margin-bottom: 0px !important;
}
.submenu-arrow{
  position: relative;
  display: block;
}
.submenu-toggle .submenu-arrow:before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-90deg);
  width: 25px;
  height: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in-out;
}
.submenu-toggle.is-open .submenu-arrow:before{
  transform: rotate(0deg);
}
