.video-header-form .hs-form{
  position: relative;
}
.video-header-form .hs-submit{
  position: absolute;
  top: -3px;
  right: 0px;
}
.video-header-form [type="email"]{
  width: 70%;
  border-radius: 20px;
}
.video-header-form .hs-form-field > label{
  display: none;
}
.video-header-form .hs-form .hs-form-field{
  margin-bottom: 0;
}
.video-header-form .hs-error-msgs li label{
  color: red;
}
.news-letter-form .submitted-message{
  padding: 12px;
  background: rgb(255 102 0 / 10%);
  color: #ff6600;
  max-width: 400px;
  text-align: center;
  font-family: new-hero, sans-serif;
}
@media (max-width: 767px) {
    .video-header-form .hs-submit{
      position: static;
      top: 0;
      right: 0;
    }
    .video-header-form [type="email"]{
      width: 100%;
      border-radius: 20px;
    }
    .video-header-form .actions{
      margin-top: 10px;
    }
}
