body{
    font-weight: normal;
    font-family: 'Hind', sans-serif;
}
.container{
    max-width: 1160px;
    @apply mx-auto px-4 w-full;
}

.section-gap{
    @apply py-14;
    @screen lg{
        @apply py-20
    }
}
img{
    -webkit-user-drag: none;
}
