// Grandient text variant
.purple-gradient {
  background: -webkit-linear-gradient(left, #5B095B, #C02EB0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-gradient {
  background: -webkit-linear-gradient(left, #EA5E00 0%, #FF6600 41%, #FF944D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-orange-gradient{
  background: -webkit-linear-gradient(left, #00104E 0%, #C02EB0 36%, #FF6600 74%, #FF944D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typo-white {
  h1,h2,h3,h4,h5,h6, p, a{
    @apply text-white;
  }
}
